<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.budgetandexpense">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".BudgetAndExpenseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".screens.EditCategoryActivity"
            android:label="@string/title_activity_edit_category"
            android:parentActivityName="android.support.v7.app.AppCompatActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.support.v7.app.AppCompatActivity" />
        </activity>
        <activity
            android:name=".screens.EditTransactionActivity"
            android:label="@string/title_activity_edit_transaction"
            android:parentActivityName="android.support.v7.app.AppCompatActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.support.v7.app.AppCompatActivity" />
        </activity>
        <activity
            android:name=".screens.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>